:root {
  --grey: rgb(84, 84, 84);
  --bg-color1: rgb(55, 40, 101);
  --text-color1: rgb(53, 50, 82);
}
@font-face {
  font-family: NunitoSans;
  src: url("../fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: NunitoSansBold;
  src: url("../fonts/NunitoSans-Bold.ttf");
}
@font-face {
  font-family: NunitoSansSemiBold;
  src: url("../fonts/NunitoSans-SemiBold.ttf");
}
body {
  background-color: rgb(246, 249, 254) !important;
}
nav .nav-link,
nav .nav-link:hover,
nav .nav-link:focus,
nav .nav-link:active {
  color: var(--grey);
  font-family: NunitoSans;
}
nav .btn-primary,
nav .btn-primary:hover,
nav .btn-primary:active,
nav .btn-primary:focus,
div .btn-primary,
div .btn-primary:active,
div .btn-primary:focus,
div .btn-primary:hover {
  background-color: var(--bg-color1);
  border: none;
  font-family: NunitoSansSemiBold;
  font-size: 1rem;
  padding: 0.85rem 1.25rem;
}
input {
  width: 18rem;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 4px;
  padding: 0.85rem 1.25rem;
  font-family: NunitoSans !important;
}
::placeholder,
:-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: rgb(181, 182, 183) !important;
}
.snackbar {
  background-color: var(--bg-color1);
  font-family: NunitoSans;
  color: rgb(204, 193, 230);
  width: 65%;
  font-size: 1.025rem;
}
.snackbar span {
  font-family: NunitoSansBold;
  text-decoration: underline;
  text-decoration-color: rgb(204, 193, 230);
}
div h1 {
  font-family: NunitoSansBold;
  font-size: 3.2rem;
  color: var(--text-color1);
}
div h2 {
  font-family: NunitoSans;
  color: var(--grey);
  font-size: 1.12rem;
}
div h3 {
  font-family: NunitoSansBold;
  font-size: 1.2rem;
  color: var(--grey);
}
@media (min-width: 768px) and (max-width: 1200px) {
  input {
    width: 20rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .snackbar {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .snackbar {
    width: 55%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .snackbar {
    font-size: 1.2rem;
    width: 80%;
  }
  div h1 {
    font-size: 3.66rem;
  }
  div h2 {
    font-size: 1.235rem;
  }
}
@media (max-width: 767px) {
  .snackbar {
    width: 55%;
  }
}
@media (max-width: 576px) {
  .snackbar {
    width: 85%;
    font-size: 1.15rem;
  }
  div h1 {
    font-size: 2.65rem;
  }
  nav .btn-primary,
  nav .btn-primary:hover,
  nav .btn-primary:active,
  nav .btn-primary:focus {
    width: 100%;
  }
}
